{% extends 'tigtag/base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row ">
            <div class="container justify-content-center" style = "height:100%;">
                <img style=" height:auto;" class=" being_absolute image_fadeout" src="{% static 'css/assets/logo.png' %}">
                <!-- <a href="waiting_list.html"> -->
                    <!-- <img style="height:auto; animation-delay: 2s;" class="being_absolute image_fadein" src="{% static 'css/assets/waiting_list1.jpg' %}"> -->
                <!-- </a> -->
            </div>
        </div>
    </div>

{% endblock %}